
<head>
  <title> View Pacient Data    </title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="en-gb">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
 <body>
    <div>
        <h3><B><span style="font-size:100%;color:red;">&hearts;</span>View Pacient Data</B></h3>
      </div>

      <nav>
        <ul>
          <li><a routerLink="/viewPulseHist" routerLinkActive="active">View Pulse History</a></li>
          <li><a routerLink="/viewEcgHist" routerLinkActive="active">View Ecg History</a></li>
        </ul>
      </nav>


   <form>
      <div class="form-group">
        <label><b>Name</b></label>
        <input type="text" [value]="name"/><br>
      </div>
      <div class="form-group">
        <label><b>Surame</b></label>
        <input type="text" [value]="surname"/><br>
      </div>
      <div class="form-group">
        <label><b>Age</b></label>
        <input type="text" [value]="age"/><br>
      </div>
      <div class="form-group">
        <label><b>PNC</b></label>
        <input type="text" [value]="pnc"/><br>
      </div>
      <div class="form-group">
        <label><b>AdressStreet</b></label>
        <input type="text" [value]="adressStreet"/><br>
      </div>
      <div class="form-group">
        <label><b>AdressLocation</b></label>
        <input type="text" [value]="adressLocation"/><br>
      </div>
      <div class="form-group">
        <label><b>AdressCountry</b></label>
        <input type="text" [value]="adressCountry"/><br>
      </div>
      <div class="form-group">
        <label><b>AdressPostalCode</b></label>
        <input type="text" [value]="adressPostalCode"/><br>
      </div>
      <div class="form-group">
        <label><b>Phone</b></label>
        <input type="text" [value]="phone"/><br>
      </div>
      <div class="form-group">
        <label><b>Email</b></label>
        <input type="text" [value]="email"/><br>
      </div>
      <div class="form-group">
        <label><b>Profession</b></label>
        <input type="text" [value]="profession"/><br>
      </div>
      <div class="form-group">
        <label><b>Job</b></label>
        <input type="text" [value]="job"/><br>
      </div>
    </form>
 
 </body>


  <router-outlet></router-outlet>


 