
  <div>
      <h1><B>Add Pacient Data</B></h1>
    </div>
<table>
<tbody>
  <tr>
      <td><b>Username</b></td>
      <td><input type="text" #Username></td>
    </tr>

    <tr>
      <td><b>Name</b></td>
      <td><input type="text" #Name/></td>
    </tr>
    <tr>
      <td><b>Surname</b></td>
      <td><input type="text" #Surname/></td>
    </tr>
    <tr>
      <td><b>Phone</b></td>
      <td><input type="number" #Phone/></td>
    </tr>
    <tr>
      <td><b>Email</b></td>
      <td><input type="text" #Email/></td>
    </tr>
    <tr>
      <td><b>CNP</b></td>
      <td><input type="text" #CNP/></td>
    </tr>

</tbody>
</table>
<div>
  <br>
  <button name="btn" (click)=addPacient(Name,Email,Username,Surname,CNP,Phone)>Save</button>
 </div>
