<div class="header" >
  <h1><b><p align="left"> <span style="font-size:100%;color:red;">&hearts;</span> View Pulse History</p></b></h1>
</div>
<router-outlet></router-outlet>

  <body>
    <table style="width:100%">
      <tr>
        <th>Data</th>
        <th>Hour</th> 
        <th>Value</th>
      </tr>
      <tr>
        <td><input type="text" [value]="data"/></td>
        <td><input type="text" [value]="hour"/></td>
        <td><input type="text" [value]="value"/></td>
      </tr>
      <tr>
        <td><input type="text" [value]="data"/></td>
        <td><input type="text" [value]="hour"/></td>
        <td><input type="text" [value]="value"/></td>
      </tr>
      <tr>
        <td><input type="text" [value]="data"/></td>
        <td><input type="text" [value]="hour"/></td>
        <td><input type="text" [value]="value"/></td>
      </tr>
    </table>
    
    </body>