<div  >
  <h1><b><p align="left"> <span style="font-size:100%;color:red;">&hearts;</span> View Pulse History</p></b></h1>
</div>
  <body>
    <button name="btn" (click)=Refresh()>Refresh List</button>  
      <div style="text-align:left;width:500px;">
    
        <table *ngIf="arrPulse">
            <!-- ADD HEADERS -->
            <tr>
                <th>Date</th>
                        <th>Value</th>
 
            </tr>
    
            <!-- BIND ARRAY TO TABLE -->
            <tr *ngFor="let user of arrPulse">
                <td>{{user.Date}}</td>
                        <td>{{user.Level}}</td>
            </tr>
        </table>
    </div>
    </body>