<div class="header">
    <h1><b><p align="left"> <span style="font-size:100%;color:red;">&hearts;</span>View Ecg History</p></b></h1>
  </div>



  <body>
    <button name="btn" (click)=Refresh()>Refresh List</button>  
    <div style="text-align:left;width:500px;">
    
      <table *ngIf="arrEcg">
          <!-- ADD HEADERS -->
          <tr>
              <th>Date</th>
                      <th>Value</th>
 
          </tr>
  
          <!-- BIND ARRAY TO TABLE -->
          <tr *ngFor="let ecg of arrEcg">
              <td>{{ecg.Date}}</td>
                      <td>{{ecg.Level}}</td>
          </tr>
      </table>
  </div>
    
</body>