
    <div>
        <h1><B>View Doctor Data</B></h1>
      </div>
  <table>
<tbody>
    <tr>
        <td><b>Name:</b></td>
        {{name}}
      </tr>
      <tr>
      <td><b>UserID:</b></td>
        {{userId}}
      </tr>
</tbody>
</table>


<h1><b><p align="left"> List Pacients</p></b></h1>
<button name="btn" (click)=Refresh()>Refresh List</button>
<table *ngIf="arrPat">
  <!-- ADD HEADERS -->
  <tr>
      <th>Username</th>
              <th>Name</th>
                  <th>Surname</th>
                          <th>Email</th>
  </tr>

  <!-- BIND ARRAY TO TABLE -->
  <tr *ngFor="let user of arrPat">
      <td>{{user.UserId}}</td>
              <td>{{user.Name}}</td>
                  <td>{{user.Surname}}</td>
                      <td>{{user.Email}}</td>
  </tr>
</table>

    <table class="table10">
	    <tr>
		    <td>
          <select class="select-option" #mySelect (change)="onSelectCocosChange(mySelect.value)">
            <option value="">--Select Pacient--
            <option *ngFor="let item of arrPat" [value]="item.UserId" >
              {{item.UserId}}
            </option>    
        </select>

	    	</td>
		<td>
      <!-- <input type="submit" value="SUBMIT"/> -->
            <button name="btn" (click)=Edit()>Edit</button>
            <button name="btn" (click)=Delete()>Delete</button>
            </td>
     <tr>
      <button name="btn" (click)=AddPacient()>Add Pacient</button>
	</tr>
  