<body>
    <div>
        <h3><B>View Doctor Data</B></h3>
      </div>
  <table>
  <tbody>
    <tr>
        <td>Name</td>
        <td><input type="text" [value]="name"/></td>
      </tr>
      <tr>
        <td>Surname</td>
        <td><input type="text" [value]="surname"/></td>
      </tr>
      <tr>
        <td>Age</td>
        <td><input type="text" [value]="age"/></td>
      </tr>
      <tr>
        <td>PNC</td>
        <td><input type="text" [value]="pnc"/></td>
      </tr>
      <tr>
        <td>AdressStreet</td>
        <td><input type="text" [value]="adressStreet"/></td>
      </tr>
      <tr>
        <td>AdressLocation</td>
        <td><input type="text" [value]="adressLocation"/></td>
      </tr>
      <tr>
        <td>AdressCountry</td>
        <td><input type="text" [value]="adressCountry"/></td>
      </tr>
      <tr>
        <td>AdressPostalCode</td>
        <td><input type="text" [value]="adressPostalCode"/></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><input type="text" [value]="phone"/></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" [value]="email"/></td>
      </tr>
      <tr>
        <td>Profession</td>
        <td><input type="text" [value]="profession"/></td>
      </tr>
      <tr>
        <td>Job</td>
        <td><input type="text" [value]="job"/></td>
      </tr>
</tbody>
</table>


<h1><b><p align="left"> List Pacients</p></b></h1>
    <table class="table10">
	    <tr>
		    <td>
	  	        <select size="1" name="channel" class="dropdown1">
                <option value="">SELECT</option>
		              <option type="text" [value]="name" type="text" [value]="surname"></option>
                  <option type="text" [value]="name" type="text" [value]="surname"></option>
                  <option type="text" [value]="name" type="text" [value]="surname"></option>
                  <option type="text" [value]="name" type="text" [value]="surname"></option>
                  <option type="text" [value]="name" type="text" [value]="surname"></option>
	  	        </select>
	    	</td>
		<td>
      <!-- <input type="submit" value="SUBMIT"/> -->
            <button name="btn" (click)=Edit(name,surname,age,pnc,adressStreet,adressLocation,adressCountry,adressPostalCode,phone,email,profession,job)>Edit</button>
            <button name="btn" (click)=Delete(name,surname,age,pnc,adressStreet,adressLocation,adressCountry,adressPostalCode,phone,email,profession,job)>Delete</button>
            </td>
     <tr>
      <button name="btn" (click)=AddPacient(name,surname,age,pnc,adressStreet,adressLocation,adressCountry,adressPostalCode,phone,email,profession,job)>Add Pacient</button>
	</tr>
  


    