
    <div>
        <h1><B>Edit Pacient</B></h1>
      </div>
  <table>
  <tbody>
  
      <tr>
        <td><b>Name</b></td>
        <td><input type="text" [value]="name" #Name/></td>
      </tr>
      <tr>
        <td><b>Surname</b></td>
        <td><input type="text" [value]="surname" #Surname/></td>
      </tr>
      <tr>
        <td><b>Phone</b></td>
        <td><input type="number" [value]="phone" #Phone/></td>
      </tr>
      <tr>
        <td><b>Email</b></td>
        <td><input type="text" [value]="email" #Email/></td>
      </tr>
      <tr>
        <td><b>CNP</b></td>
        <td><input type="text" [value]="cnp" #PNC/></td>
      </tr>
  
  </tbody>
  </table>
  <div>
    <br>
    <button name="btn" (click)=editPacient(Name,Surname,Phone,Email,PNC)>Save</button>
   </div>